*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 100vh;
}
.rules{
  width: 45%;
}

.rules h1{
  text-align: center;
  font-size: 40px;
  margin-top: 36px;
  text-decoration: underline;
  padding: 16px;
}

.controls{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  margin: 20px auto;
}

.controls button{
  background-color: rgb(0, 44, 11);
  color: white;
  border: none;
  padding: 8px;
  border-radius: 6px;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  height: 38px;
  
}

.controls button:disabled{
  opacity: .6;
  cursor: default;
}

.speed{
  color: red;
}

input[type="range"] { 
  direction: rtl;
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 36px;
  width: 100px;
  cursor: pointer;
  border-radius: 0; /* iOS */
  outline: rgb(0, 44, 11);
  justify-self: center;
  margin-top: 3px;
}

::-webkit-slider-runnable-track {
  background: #ddd;
}

/*
* 1. Set to 0 width and remove border for a slider without a thumb
*/
::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px; /* 1 */
  height: 36px;
  background: #fff;
  box-shadow: -100vw 0 0 100vw rgb(0, 44, 11);
  border: 2px solid #999; /* 1 */
}

::-moz-range-track {
  height: 40px;
  background: #ddd;
}

::-moz-range-thumb {
  background: #fff;
  height: 40px;
  width: 20px;
  border: 3px solid #999;
  border-radius: 0 !important;
  box-shadow: -100vw 0 0 100vw rgb(0, 44, 11);
  box-sizing: border-box;
}

::-ms-fill-lower { 
  background: rgb(0, 44, 11);
}

::-ms-thumb { 
  background: #fff;
  border: 2px solid #999;
  height: 40px;
  width: 20px;
  box-sizing: border-box;
}

::-ms-ticks-after { 
  display: none; 
}

::-ms-ticks-before { 
  display: none; 
}

::-ms-track { 
  background: #ddd;
  color: transparent;
  height: 40px;
  border: none;
}

::-ms-tooltip { 
  display: none;
}


.description{
  width: 85%;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 8px;
  
}
.description h4{
  margin-top: 36px;

}

.description ol{
  line-height: 1.7;
  list-style-position: inside;
}

.gallery-section{
  margin-top: 36px;
  display: flex;
  justify-content: space-around;
}

.gallery{
  display: inline-block;
}

.gallery-title{
  text-align: center;
  padding: 5px;
  font-weight: bold;
  text-transform: capitalize;
}

.gallery-img{
  width: 150px;
  height: 150px;
  scale: 3;
}

.grid{
  width: 740px;
  /* width: 60px; */
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-self: center;
}

@media only screen and (max-width: 1480px){
  .grid{
    position: fixed;
  top: 15px;
  left: 15px;
  }
}

.cel{
  width: 10px;
  height: 10px;
  border: 1px solid rgb(0, 44, 11);
  background-color: black;
}